/* stylesheet for inputs components */
.labelStyle {
  float: left;
  /* color: rgba(155,155,155,0.9); */
  color: #00dfff;
  margin: 0px;
  font-size: 20px;
  line-height: 10px;
}

.inputDiv {

}

input {
  font-family: 'Muli' sans-serif !default;
  color: rgba(0,0,0,0.5);
}

input::placeholder {
  color: rgba(0,0,0,0.3);
  font-weight: bold;
}

.notValid::placeholder {
  color: rgba(255,0,0,0.8);
}

.errorMessage {
  float: left;
  color: red;
  margin: 0px;
  margin-top: 12px;
  font-size: 11px;
}
